/data
!data/01_raw/.gitkeep
!data/02_intermediate/.gitkeep
!data/03_features/.gitkeep
!data/04_models/.gitkeep
!data/05_reporting/.gitkeep
!data/06_generated_code/.gitkeep

.venv

__pycache__

biodcase_tiny/embedded/firmware/main/feature_config_generated.h
biodcase_tiny/feature_extraction/FeatureConfig.py
biodcase_tiny/feature_extraction/FilterbankConfig.py